$body-background: #223843;

$header-principal: #D46F12;
$header-title: #FFF;
$header-links-container: #FFF;
$header-link: #6d6d6d;
$header-link-hover: #000000;
$header-button: #D46F12;
$header-button-hover: #D46F12;

$principal-text: #FFF;